.bouton-vert-rempli{
width: 239px;
height: 65px;
background: #5CDB95;
border: 1px solid rgba(92, 219, 149, 0.99);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
color : #f1f1f1;
}

.bouton-rouge-hover button:hover {
    background: rgba(240, 73, 73, 0.60);
    border: 1px solid rgba(240, 73, 73, 0.60);
}
  
.bouton-rouge-rempli{
    width: 239px;
    height: 65px;
    background: #f04949;
    border: 1px solid rgba(240, 73, 73, 0.99);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    color : #f1f1f1;
    }
    
    .bouton-vert-hover button:hover {
        background: rgba(241, 55, 80, 0.6);
        border: 1px solid rgba(241, 55, 80, 0.6);
    }
      
.bouton-gris-rempli{
width: 100px;
height: 30px;
background: #607575;
border: 1px solid rgba(96, 117, 117, 0.99);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
color: #f1f1f1;
}

.bouton-gris-hover button:hover {
    background: rgba(96, 117, 117, 0.60);
    border: 1px solid rgba(96, 117, 117, 0.60);

}

.bouton-swipe-oui{
    background: #5CDB95;
    border: 1px solid rgba(92, 219, 149, 0.99);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    color : #f1f1f1;
    }
  
    .bouton-swipe-oui-hover{
        justify-content: right;
    }
    .bouton-swipe-oui-hover button:hover {
        background: rgba(92, 219, 149, 0.60);
        border: 1px solid rgba(92, 219, 149, 0.60);
    }
      
    
    .bouton-swipe-non{
    background: #607575;
    border: 1px solid rgba(96, 117, 117, 0.99);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    color: #f1f1f1;
    }
    
    .bouton-swipe-non-hover button:hover {
        background: rgba(96, 117, 117, 0.60);
        border: 1px solid rgba(96, 117, 117, 0.60);
    
    }